.rating[data-v-26353ca1]{align-items:center;color:#ddd;display:flex;font-size:2rem}.star[data-v-26353ca1]{height:40px;width:40px;fill:#ddd;transition:fill .2s}.star.active[data-v-26353ca1]{fill:gold}
